* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px silver; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: silver; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.header_menu {
  width: 100%;
  height: 80px;
  background-color: rgb(35, 96, 168);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_logo {
  width: 185px;
  height: 80px;
  object-fit: cover;
}

.header_title {
  /* width: 185px;
  height: 80px;
  object-fit: cover; */
  position: absolute;
  z-index: 1;

  margin: auto;

  color: white;
  font-weight: bold;
  font-size: 22px;
}

.header_mid,
.header_right {
  width: 185px;
  height: 80px;

  color: transparent;
}

.body {
  width: 100%;
  height: 5000px;
  background-color: rgb(236, 236, 236);

  display: flex;
  justify-content: center;
  /* align-items: center; */

  padding-top: 30px;
}

.wrapper {
  width: 80%;
  height: 500px;
  /* background-color: red; */

  /* margin: auto; */
}

/* ################################################################################ */
.row_one,
.row_two {
  width: 100%;
  height: 90px;
  /* background-color: blue; */

  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.row_two {
  margin-bottom: 40px;
}

.row_one_col,
.row_two_col {
  width: 33.3%;
  height: 90px;
  /* background-color: silver; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.row_one_item1,
.row_one_item2,
.row_one_item3,
.row_two_item1,
.row_two_item2,
.row_two_item3 {
  width: 90%;
  height: 100%;
  background-color: white;

  border-radius: 5px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* box-shadow: 0 0 5px 5px black; */
}

.row_one_item1--title {
  width: 100%;
  height: 20px;
  /* background-color: red; */

  margin-top: 5px;
  padding-left: 10px;

  color: gray;
}

.row_one_item1--value {
  width: 100%;
  height: 50px;
  /* background-color: black; */

  /* color: whitesmo; */

  padding-top: 10px;
  padding-left: 10px;
  font-size: xx-large;
  font-weight: bold;
}

.row_one_item1--unit {
  font-size: 16px;
  font-weight: normal;
}

/* ################################################################################ */

.row_three,
.row_excel {
  width: 100%;
  height: 650px;
  /* background-color: pink; */

  /* display: flex;
  justify-content: center; */

  margin-bottom: 40px;
}

.row_excel{
  overflow-x: hidden;
  overflow-y: scroll;
}

.row_three {
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row_excel {
  /* width: 1000px; */
  height: 1000px;
}

.sticky_thead{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 50px;
  font-size: 20px;
}

.row_three_left {
  width: 70%;
  height: 100%;
  background-color: white;
  border-radius: 5px;

  margin-left: 1.75%;
  margin-right: 1.25%;

  /* padding-top: 20px; */

  display: flex;
  justify-content: center;
  align-items: center;

  float: left;
}

.row_three_right {
  width: 25.25%;
  height: 100%;
  /* background-color: greenyellow; */

  margin-right: 1.75%;

  float: right;
}

.row_three_right_item1 {
  width: 100%;
  height: 120px;
  background-color: white;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.row_three_right_item2 {
  width: 100%;
  height: 240px;
  background-color: white;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.row_three_right_item3 {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* margin-bottom: 20px; */
}

/* ################################################## */

.table_excel {
  width: 96.5%;
  min-height: 100px;
  height: auto;
  background-color: white;

  margin-left: 1.75%;
  margin-right: 1.75%;
}

td {
  text-align: center;
}

/* 
.row_one_item2 {
  width: 90%;
  height: 100%;
  background-color: purple;

  box-shadow: 0 0 5px 5px black;
}

.row_one_item3 {
  width: 90%;
  height: 100%;
  background-color: purple;

  box-shadow: 0 0 5px 5px black;
} */
